{{#if flash}}
  <div class="alert alert-dismissable alert-{{flash.type}}">
    <button type="button" class="close" data-dismiss="akert" aria-hidden="true">&times;</button>
    <strong>{{flash.intro}}</strong>{{{flash.message}}}

  </div>
{{/if}}
